.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.env
instance/database.db
instance/*.db-shm
instance/*.db-wal
static/uploads/open_eye/*
static/uploads/closed_eye/*
!static/uploads/open_eye/.gitkeep
!static/uploads/closed_eye/.gitkeep
